/* ------------------------- */
/* BACKGROUND */
/* ------------------------- */
body {
  background-image: url('imagens/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ------------------------- */
/* SACOLA */
/* ------------------------- */
.sacola-container {
  position: relative;
  margin: 20px auto;
  z-index: 1;
  max-width: 800px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

/* ------------------------- */
/* BOtÃO DE COMPRAR TUDO */
/* ------------------------- */
#checkout-container button {
  background-color: #282b29;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

#checkout-container button:hover {
  background-color: #000000;
  transform: scale(1.05);
}

#checkout-container button:active {
  background-color: #000000;
  transform: scale(0.98);
}

#checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* ------------------------- */
/* ÍCONES DO NAVBAR */
/* ------------------------- */
.nav-icon {
  width: 20px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

/* ------------------------- */
/* CARRINHO FIXADO */
/* ------------------------- */
.cart-icon {
  display: none;
}

.cart-icon-img {
  display: none;
}

.cart-count {
  display: none;
}



.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

/* ------------------------- */
/* RODAPÉ */
/* ------------------------- */
footer {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 2rem 0rem;
  margin-top: auto;
}

footer a {
  color: #00b7ff;
  text-decoration: none;
}

footer .socials a {
  margin: 0 0.5rem;
  font-size: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-media a:hover .social-icon {
  transform: scale(1.2);
}
